apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaFolder
metadata:
    name: marketplace-alerts-folder
    labels:
        app.kubernetes.io/name: marketplace-grafana
spec:
    instanceSelector:
        matchLabels:
            app.kubernetes.io/name: marketplace-grafana
    title: Marketplace Alerts
