apiVersion: apps/v1
kind: Deployment
metadata:
  name: ozon-bot
spec:
  template:
    spec:
      containers:
        - name: bot
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
