apiVersion: apps/v1
kind: Deployment
metadata:
    name: marketplace-bot
spec:
    template:
        spec:
            containers:
                - name: bot
                  resources:
                      requests:
                          memory: "128Mi"
                          cpu: "100m"
                      limits:
                          memory: "256Mi"
                          cpu: "250m"
