apiVersion: apps/v1
kind: Deployment
metadata:
    name: postgres
spec:
    template:
        spec:
            containers:
                - name: postgres
                  resources:
                      requests:
                          memory: "192Mi"
                          cpu: "150m"
                      limits:
                          memory: "384Mi"
                          cpu: "300m"
